<h1>Awesome Airline !</h1>
<h2>Flight Booking</h2>



<div>
    <p>Booked Flight: #<%= @booked_flight_number %></p>
    <p>Flight Duration: <%= @booked_flight.duration %> min</p>
    <p>From Airport: <%= Airport.find(@booked_flight.departure_airport_id).name_code %></p>
    <p>From Airport: <%= Airport.find(@booked_flight.arrival_airport_id).name_code %></p>
    <p>Number of Passengers: <%= @passengers_number %></p>
    <p>Date of Flight: <%= @booked_flight.date %></p>
</div>

<div>
    <h3>
        Passenger Information:
    </h3>
</div>

<div>
    <%= form_with model: @booking do |form| %>
        Testing:
        <%= @passengers_number %>
        <ul>
            <%= form.fields_for :passengers do |passenger_form| %>
                <li>
                    <div>Passenger: </div>
                    <%= passenger_form.label :name %>
                    <%= passenger_form.text_field :name %>

                    <%= passenger_form.label :email %>
                    <%= form.email_field :email %>
                </li>
                <br>
            <% end %>
        </ul>

        <%= form.submit %>
    <% end %>
</div>

<br>
<%= link_to "[Back]", root_path %>
